language: java
sudo: false
install: true

addons:
  sonarcloud:
    organization: "stylianos-agapiou-sonarsource-gi"
    token:
      secure: k9ISGaY51/e3/CnkRlD0Mqzmw4fzc4BmxaZpdWZ8CzvCv+Ix1Ngwa4c/A8kDp0EI5ck4YIvGLmwKLCg4Yzk+m7w+qaZElqy48EPxTRiqEh5BSwUB2XgEvvBfpNB/fnu1dutzrm4VUZawXNEqDbaSU5kY2spUjtbOrfECS+q75xckcPxEAz1/EiRQuxvXTH8DWfLqH3ROUEcAxGkLNV5TSkLD12c0Mm0CP+4ghshgLj4PmxBQt2g3ZohSJ/X+j52tXGuGbAMtAD4bCyp0bBZGLjhDbLa/jWQt2D0Jx7tW7EmKN80IzY9GsIhk5JPtqT3M+ZGVa+fZjchcfRjOsCYVGZ5Eio5FgQ2+iSzijnsSqH7tqx+mMdQVOusvMdOe7o11sf3ZILiuRd91tf5aFLWJi3+8qmrs2iiZo0EbsSbCccRAmxN1dGoC/I4z/NxMDUaJtlYbAoR5dsIsrPoQxGEo8SQvQuNM+7r9n+1Q4kWsZpaYIJoPmMv/sSzxFYw0Me9xiBT8AHkoGb6FoswFiJ2XIDgt9AJ5YGwiw9670H3FNFu/f0DCZN6wcoXcvFb4jPvZH329odMCfWqnJAyx0IZyq/GLd+ekKmYEoUQ3yOdkfeZmF6mNp3TG7372rTPgPIKX5ayGmJQmoGCRT4w9jMsfJnkh+UjRoPZX5T69KwFyAkw=

jdk: oraclejdk8

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar

cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
